<h1 class="js--example--js"></h1>
<h1 class="js--example--ts"></h1>
<h1 class="js--example--jquery"></h1>
<%= react_component 'example-jsx', name: 'JSX' %>
<%= react_component 'example-tsx', name: 'TSX' %>

<script>
  document.addEventListener('turbolinks:load', function() {
    $('.js--example--jquery').html('Hello from jQuery!');
  });
</script>
